/* =Blog
----------------------------------------------- */

.blog,
.single {

	article {
		background-color: $grey5;
		border-bottom: 10px solid $grey2;
		margin: 1.5em auto 2.5em;
		max-width: 1140px;
		overflow: auto;
		width: 95%;
		@include box-shadow($grey2);
		&:last-child { margin: 0 auto 1.5rem; }

		@media all and (max-width: 640px) { overflow: hidden; }

		.entry-header { display: block; }
		
		.entry-title h1,
		h1.entry-title {
			font: {
				family: $Vollkorn;
				style: italic;
				weight: 700;
			}
			padding: 2rem 0;
			text-align: center;
			@include font-size(48);
			@include text-shadow($grey4);
			
			@media all and (max-width: 640px) {
				line-height: 48px !important;
				padding: 1rem 0 0;
			}

			img { border-radius: 50%; }
		}

		.entry-title a {
			color: $grey2;
			text: {
				decoration: none;
				transform: lowercase;
			}
			&:visited { color: $grey2; }
			&:hover, &:focus { color: $grey3; }
		}

		div.entry-meta {
			color: $grey3;
		    font: {
		    	family: $Sans;
		    	weight: 600;
		  	}
		  	margin-top: -32px;
		  	text: {
				align: center;
		  		transform: uppercase;
		  	}
		  	@include font-size(20);

		  	@media all and (max-width: 640px) { margin-top: 0; }
		}

		.summary {
			padding: 15px 0 25px !important;
			text-align: left;
		}
	}
}


// Category-based colors for the bottom-border of cards in the blog. !important is needed to override default style
.category-design-and-development { border-bottom: 10px solid $designdev !important; }
.category-miscellaneous { border-bottom: 10px solid $misc !important; }
.category-tutorial { border-bottom: 10px solid $tut !important; }
.category-uncategorized { border-bottom: 10px solid $nocat !important; }