/* =Content
----------------------------------------------- */

section {
	background-color: $grey5;
	border-bottom: 10px solid $grey2;
	margin: 0 auto 2.5em;
	max-width: 1140px;
	overflow: auto;
	width: 95%;
	@include box-shadow($grey2);
	&:last-child { margin: 0 auto 1.5rem; }

	@media all and (max-width: 640px) { overflow: hidden; }

	h1 {
		font: {
			family: $Vollkorn;
			style: italic;
			weight: 700;
		}
		padding: 2rem 0;
		text: {
			align: center;
			transform: lowercase;
		}
		@include font-size(48);
		@include text-shadow($grey4);
		&:hover { cursor: default; }

		@media all and (max-width: 640px) {
			line-height: 48px !important;
			padding: 1rem 0 0;
		}
	}

	aside {
		float: left;
		margin: 1rem 2% 0 4%;
		width: 34%;

		@media all and (max-width: 640px) {
			float: none;
			margin: 1rem auto !important;
			padding: 0;
			text-align: center;
			width: 90%;
		}
	}

	.portfolio {
		margin-bottom: 2rem;
		@include box-shadow($grey3);
		&:hover { @include box-shadow($grey2); }
		&:last-child { margin-bottom: 4rem; }
	}

	.propic {
		float: left;
		margin: 1rem 2% 0 4%;
	}

	div {
		float: right;
		font-weight: 400;
		margin: 0 4% 0 2%;
		width: 54%;
		@include font-size(20);
		
		@media all and (max-width: 640px) {
			float: none;
			max-width: 798px;
			margin: 0 auto !important;
			padding: 0 0 3rem;
			text-align: left;
			width: 90%;
			@include font-size(20);
		}
		
		p { margin-bottom: 1.5em; }

		p:last-child {
			padding: 1.5rem 0;
			text-align: center;

			@media all and (max-width: 640px) { margin-bottom: 0; }
		}
	}
}

.tech {
	background-color: $grey1;
	color: $grey2;
	font-weight: 700;
	letter-spacing: 0.2rem;
	max-width: 616px;
	padding: 0.8rem 0;
	text: {
		align: center;
		transform: uppercase;
	}
	width: 100%;
	@include font-size(18);
	@include text-shadow($grey4);
}

.block {
	letter-spacing: 0.8rem;
	margin: 1.5rem auto;
	max-width: 912px;
	padding: 0.5rem 0;
	width: 100%;
	@include font-size(36);
	@include text-shadow($grey4);
}

.description {
	font-weight: 400;
	margin: 0 auto;
	max-width: 912px;
	padding: 32px 0 0;
	text-align: center;
	width: 90%;
	@include font-size(32);
	&:last-child { padding: 40px 0; }
}

.mission {
	font-weight: 700;
	@include text-shadow($grey4);
}

.process {
	max-width: 912px;		
	padding: 1.5rem 0;
	text-align: center;
	width: 90%;
	@include font-size(20);
	&:last-child { padding: 1.5rem 0 40px; }
}

.bobby {
	padding: 0 0 40px;
	text-align: left;
	&:last-child { padding: 0 0 40px; }

	img { margin: 10px 1.5em 10px 0 !important;
		@media all and (max-width: 400px) { width: 100%; }
	}
}

a.green-btn {
	background-color: $green1;
	border: 1px solid $green1;
	border-radius: 5px;
	box-shadow: 0 4px $green2;
	color: $grey5;
	font-weight: 600;
	padding: 6px 12px;
	position: relative;
	text: {
		decoration: none;
		transform: uppercase;
	}
	@include font-size(20);
	&:hover, &:focus { background-color: lighten($green1, 7%); }
	&:active {
		border: 1px solid $green2;
		box-shadow: 0 2px $green2;
		top: 2px;
	}
	&:visited { color: $grey5; }
}

.entry-header { display: none; }

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.site-footer {
	margin: 0 auto;
	padding: 0 2.5%;
	text-align: center;
	.social {
		margin: 0 auto;
		padding: 0;

		a {
			color: $grey2;
			font-family: 'icon';
			margin: 0 1rem;
			padding: 0 20px;
			text-decoration: none;
			@include font-size(48);

			@media all and (max-width: 640px) { padding: 0 10px; }
		}
		.t:hover { color: #00acee; }
		.c:hover { color: #ffffff; }
		.g:hover { color: #dd4b39; }
	}
	.credit {
		color: $grey2;
		margin: 0 auto;
		padding: 24px 0;
		@include font-size(20);
		a {
		    color: $grey3;
		    font-weight: 600;
		    padding: 1px 4px;
		    text-decoration: none;
		    &:hover, &:focus {
		      background-color: $grey2;
		      color: $grey5;
		      border-radius: 5px;
    		}
		}
	}
	span { font-weight: 600; }
}

@font-face {
	font-family: icon;
	src: url("img/icons.woff");
}