/* =Variables
----------------------------------------------- */

// fonts
$Vollkorn: 'Vollkorn', 'Georgia', serif;
$Sans: 'Open Sans', 'Helveitca', 'Arial', sans-serif;
$Montserrat: 'Montserrat', 'Helveitca', 'Arial', sans-serif;

// colors
$grey1: #bfbfbf; //light grey for bg
$grey2: #404040; //dark grey for text
$grey3: #7f7f7f; //medium grey for all purpose
$grey4: #e5e5e5; //lighter grey for button text
$grey5: #f5f5f5; //lightest grey - practically white
$green1: #34cf7a; //green for primary button color
$green2: #31b76d; //darker green to accent green1

	// blog category colors
	$designdev: lighten(#E67E22, 7%); //carrot
	$misc: #3498DB; //peter river

// mixins
@mixin font-size($sizeValue: 16, $line: $sizeValue * 1.5){
  font-size: $sizeValue + px;
  line-height: $line + px;
  font-size: ($sizeValue / 10) + rem;
  line-height: ($line / 10) + rem;
} // automatically apply rem font-size with px fallback and add 1.5 line-height. default is 16px/1.6rem+1.5

@mixin text-shadow($color){
  text-shadow:
  	1px 0px 1px darken($color, 7%),
  	0px 1px 1px darken($color, 15%),
  	2px 1px 1px darken($color, 7%);
} // simple text-shadow. just enough to make the text elevate without becoming obnoxious and overwhelming

@mixin box-shadow($color){ box-shadow: 0px 4px 6px $color; } // small box shadow to make card UI rest on the page